<template>
  <div>
    <h1 v-html="$tf('home')"></h1>

    <Menu />

    <h2 v-html="$tf('locales')"></h2>
    <pre class="p-3 bg-dark text-white"><code v-text="$i18n.messages.locales"></code></pre>
  </div>
</template>

<script>
import Menu from '../partials/Menu.vue';

export default {
  components: {
    Menu,
  },
};
</script>
