<template>
  <div>
    <h1 v-html="$tf('how_it_works')"></h1>

    <Menu />

    <div v-html="$tf('markdown')"></div>

    <hr />

    <h2>Fork Awesome</h2>
    <icon
      name="bicycle"
    />
    <icon
      name="heart"
      variant="rouge"
    />
    <icon
      :name="$tf('icon.libre')"
      :label="$tf('color.libre')"
      sr-only
    />
    <icon
      :name="$tf('icon.blog')"
      :label="$tf('color.blog')"
    />
    <icon
      name="info"
      name2="circle"
      variant="fa-inverse"
      variant2="orange"
      label="Info"
    />
  </div>
</template>

<script>
import Menu from '../partials/Menu.vue';

export default {
  components: {
    Menu,
  },
};
</script>
