<template>
  <ul class="list-inline">
    <li class="list-inline-item">
      <router-link
        :to="`/${$tf('lang')}/`"
        v-html="$tf('home')"
      />
    </li>
    <li class="list-inline-item">
      <router-link
        :to="`/${$tf('lang')}/about`"
        v-html="$tf('about')"
      />
    </li>
    <li class="list-inline-item">
      <router-link
        :to="`/${$tf('lang')}/how-it-works`"
        v-html="$tf('how_it_works')"
      />
    </li>
  </ul>
</template>
